<div class="container-fluid">
    <div class="row mt-2">

        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">Total Manager</h5>
                    <p class="card-text">{{counts.manager}} </p>
                    <!-- <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">Total Tasks</h5>
                    <p class="card-text">{{counts.task}} </p>
                    <a [routerLink]="['/tasks']" routerLinkActive="router-link-active"  class="btn btn-primary">View All </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- </div> -->